<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZapCodeChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E503A61B1D8780B50003DC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E503A62F1D8780B50003DC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E503A63A1D8780B50003DC64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
